@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Lato:300");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  color: white;
}

.main-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.main-nav i {
  font-size: 8px;
  display: block;
  margin: 10px;
  transition: margin 200ms ease;
}
.main-nav i:hover {
  color: #ed542c;
}
.main-nav:hover > i {
  margin: 15px 12px;
}

.page {
  height: 100%;
  background-color: transparent;
}

.main-page-content {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-page-content h1 {
  font-family: "Bungee Hairline";
  font-size: 60px;
}
.main-page-content h2 {
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 2px;
}

iframe {
  position: absolute;
  top: -100%;
}

.universe {
  z-index: -10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  background-color: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.universe-container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, #212750 10%, #020409 100%);
}

.content {
  width: inherit;
  height: inherit;
}

#universe {
  width: 100%;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
  z-index: 100000;
}