body {
  font-size: 65%;
  font-family: Arial, helvetica, sans-serif;
}

.wrapper {
  width: 720px;
  margin: 45px auto;
}
.wrapper h1 {
  font-size: 280%;
  text-align: center;
  text-transform: uppercase;
}
.wrapper p {
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
}
.wrapper .btn-groups {
  width: 640px;
  margin: 0 auto;
}

.btn-red-tr, .btn-green-tr, .btn-blue-tr {
  min-width: 130px;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 15px 10px;
  font-size: 140%;
  font-weight: 600;
  color: #ecf0f1;
  transition: 0.5s;
}

.btn-red-tr {
  background-color: #e74c3c;
}

.btn-green-tr {
  background-color: #2ecc71;
}

.btn-blue-tr {
  background-color: #3498db;
}

.btn-red-tr:before {
  position: absolute;
  content: "";
  border-top: 5px solid #ea6153;
  border-left: 5px solid #ea6153;
  border-right: 5px solid #e43725;
  border-bottom: 5px solid #e43725;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 0.5s;
}

.btn-green-tr:before {
  position: absolute;
  content: "";
  border-top: 5px solid #40d47e;
  border-left: 5px solid #40d47e;
  border-right: 5px solid #29b765;
  border-bottom: 5px solid #29b765;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 0.5s;
}

.btn-blue-tr:before {
  position: absolute;
  content: "";
  border-top: 5px solid #4aa3df;
  border-left: 5px solid #4aa3df;
  border-right: 5px solid #258cd1;
  border-bottom: 5px solid #258cd1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 0.5s;
}

.btn-red-tr:hover {
  box-shadow: 7px 7px #a82315, -7px -7px #f29f97;
  cursor: pointer;
}
.btn-red-tr:hover::before {
  border: 0px;
}

.btn-green-tr:hover {
  box-shadow: 7px 7px #1b7943, -7px -7px #7ee2a8;
  cursor: pointer;
}
.btn-green-tr:hover::before {
  border: 0px;
}

.btn-blue-tr:hover {
  box-shadow: 7px 7px #196090, -7px -7px #8bc4ea;
  cursor: pointer;
}
.btn-blue-tr:hover::before {
  border: 0px;
}

.btn-red-qa, .btn-green-qa, .btn-blue-qa {
  min-width: 120px;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 30px 25px;
  font-size: 140%;
  font-weight: 600;
  transition: 0.5s;
}

.btn-red-qa {
  border: 5px solid #e74c3c;
  color: #e74c3c;
}

.btn-green-qa {
  border: 5px solid #2ecc71;
  color: #2ecc71;
}

.btn-blue-qa {
  border: 5px solid #3498db;
  color: #3498db;
}

.btn-red-qa:hover {
  cursor: pointer;
}
.btn-red-qa:hover::before {
  border: 0px;
}

.btn-green-qa:hover {
  cursor: pointer;
}
.btn-green-qa:hover::before {
  border: 0px;
}

.btn-blue-qa:hover {
  background-color: #258cd1;
  border: 5px solid #4aa3df;
  color: #ecf0f1;
  cursor: pointer;
}

.btn-red-qa:hover {
  background-color: #e43725;
  border: 5px solid #ea6153;
  color: #ecf0f1;
  cursor: pointer;
}

.btn-green-qa:hover {
  background-color: #29b765;
  border: 5px solid #40d47e;
  color: #ecf0f1;
  cursor: pointer;
}